# Dynamic version file
version.py

# Local settings et.c.
.local/

# Python virtual environment
.venv/

# Byte-compiled / cache files
__pycache__/

# JetBrains IDEs
.idea/

# VS Code settings
.vscode/

# Obsidian vault settings
.obsidian/

# OS system files
.DS_Store
.trash/

# Syncthing files
.stfolder/
.stignore

# Temporary files
*.tmp
*.temp